body {
     margin : 10pt;
     color: black;
     font-family: "ＭＳ Ｐゴシック",sans-serif;
     }

.background_pics{
  background-image:
     url("../profile/pic_takino/IMG_6368.JPG"),
     url("pic/background_earth.png");  

  background-repeat:
     no-repeat,
     no-repeat;

  background-position:
     0% top,
     100% bottom;

  background-size:
     100%,
     110%;

}

h1 {
   font-size: 36pt;
   width: 600px;
   margin-right: auto;
   margin-left: auto;
   }

p {
  font-size : 10.5pt;
  color : black;
  margin : 10pt;
  width : 1000px;
  }

.lets-make-assy {
   font-size: 17pt;
   width: 280px;
   margin-right: auto;
   margin-left: auto;
   }

.how-it-works{
    width:230px;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#fff;
    line-height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius:5px;
    text-shadow:0 -1px #1a6ea0;
    margin-right: auto;
    margin-left: auto;
}

.how-it-works:hover {
   background-color: rgba(0, 0, 0, .5);
}

a:link { color: white }   /* リンク */
a:visited {                 /* 既に見たリンク */
  color: white;
  text-decoration: none     /* 下線を消す */
}
a:active { color: white }

.organization_info{
  margin: 450pt;
}

.example{
  font-size: 15px;
  margin: 500pt;
}

h2.input_2{
  margin-top: 100pt;
  margin-left: 200pt;
  height: 150px;   
  position: left: 100%; top: 80%;
}

.inp{
  font-size:20pt; 
  margin-right: auto;
  margin-left: auto;
}

input#search{

    margin-right: auto;
    margin-left: auto;
    width: 80px;
    height: 39px;
    font-size: 0.8em;
    background-color: skyblue;
    border-radius:5px;
    color: #fff;
    border-style: none;
}