.registration_place{
    font-family: "ＭＳ Ｐゴシック",sans-serif;
    width:500px;
    font-size:10px;
    font-weight:bold;
    text-decoration:none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    text-align: center;
}

.square {
    margin: 50px;
    font-family: "ＭＳ Ｐゴシック",sans-serif;
    width:400px;
    font-size:30px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#000;
    line-height: 50px;
    background-color:transparent;
    /*border: 2px solid #000;*/
    border-radius:5px;
    text-shadow:0 -1px #1a6ea0;
    margin-right: 0%;
    margin-left: auto;
}

.triangle {
    margin: 50px;
    font-family: "ＭＳ Ｐゴシック",sans-serif;
    width:1200px;
    font-size:50px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#000;
    line-height: 50px;
    background-color:transparent;
    border: 2px solid #fff;
    border-radius:5px;
    text-shadow:0 -1px #1a6ea0;
    margin-right: auto;
    margin-left: auto;
}

p {
  font-size : 10.5pt;
  color : black;
  margin : 10pt;
  width : 350px;
}
