a:link{ color: white}
a:visited{
	color:white;
	text-decoration:none;
}
a:active{ color:white }
.image{
	margin-top:3pt;
}
body {
     background-size: 100% auto;
     margin : 30pt;
     }
p {
  font-size : 10.5pt;
  color : black;
  width : 500px;
  margin-left: 10pt;
  }

 h2{
 	font-size: 20pt;
 }

 h1{
 	margin-left: 10pt;
 	color: white;
 }

 h4{
 }

.profile{
		text-align: center;
    width:120px;
    font-size:15px;
    text-decoration:none;
    display:block;
    padding:8px 0 10px;
    color:#000;
    line-height: 0.1px;
    background-color: rgba(255, 255, 255, .5);
    border-radius:8px;
 }

.profile:hover {
   background-color: rgba(0, 0, 0, .1);
}

.photo{
		width:500px;
		font-size:15px;
		text-decoration:none;
		display:block;
		padding:8px 0 10px;
		color:#000;
		line-height: 0.1px;
		background-color: rgba(255, 255, 255, .5);
		border-radius:8px;
 }

.info{
    width:424px;
    font-size:15px;
    text-decoration:none;
    display:block;
    padding:8px 0 10px;
    color:#fff;
    line-height: 20px;
    background-color: rgba(0, 255, 0, .3);
    border-radius:8px;
 }

 .info:hover{
   background-color: rgba(0, 255, 0, .5);
 }

 .ppp{
	 color: white;
 }

 .pics{
     width:424px;
     font-size:15px;
     text-decoration:none;
     display:block;
     padding:8px 0 10px;
     color:#000	;
     line-height: 20px;
     background-color: rgba(0, 255, 80, .3);
     border-radius:8px;
		 text-align: center;
  }

  .pics:hover{
    background-color: rgba(0, 255, 80, .5);
  }

 .info_2{
     width:400px;
     font-size:15px;
     text-decoration:none;
     display:block;
     padding:8px 0 10px;
     color:#fff;
     line-height: 20px;
     background-color: rgba(0, 255, 80, .3);
     border-radius:8px;
  }

	.return{
		margin-top: 10%;
		margin-left: 50%;
		width:50px;
		font-size:15px;
		text-decoration:none;
		display:block;
		padding:8px 0 10px;
		color:#fff;
		line-height: 20px;
		background-color: rgba(0, 255, 80, .7);
		border-radius:8px;
		text-align: center;
	}

	/* ContentsArea
-------------------------- */
#contents {
    margin: 0 auto;
    padding: 10px 0 50px 0;
    width: 100%;
}

p {
    padding: 10px 0;
}

#open01,
#open02,
#open03,
#open04,
#open05,
#open06 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.close_overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
    position: absolute;
    background: #000;
    opacity: 0.5;
    z-index: 5;
}

.modal_window {
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -200px;
    width: 400px;
    height: 300px;
    text-align: center;
    display: block;
    background: #fff;
    position: absolute;
    z-index: 10;
}

.modal_window h2 {
    margin-bottom: 20px;
    width: 400px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    text-indent: 15px;
    background: #000;
}
.modal_window p {
    padding: 0 15px 15px 15px;
    font-size: 12px;
    line-height: 160%;
    text-align: left;
}


/* CSS3 ModalWindow SET
-------------------------- */
@-webkit-keyframes modalFadeIn {
    0% {opacity:0;display:block;}
    100% {opacity:1;}
}
div#modal div:target {
    -webkit-animation-name: modalFadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    opacity: 1;
    display:block;
}
